package model

import (
	"context"

	"../{{ .ProtoFileRelDir }}"
	"../endpoint"
)

{{ range .MethodNames }}
func DecodeGRPC{{ . }}Request(_ context.Context, pbReq interface{}) (interface{}, error) {
	_ = pbReq.(*pb.{{ . }}Request)
	return endpoint.{{ . }}Request{}, nil
}

func EncodeGRPC{{ . }}Response(_ context.Context, endpResp interface{}) (interface{}, error) {
	resp := endpResp.(endpoint.{{ . }}Response)
	// TODO: write convert logic
	return &pb.{{ . }}Response{
		//FieldOne: endpResp.FieldOne,
		Err:    endpResp.Err,
	}, nil
}
{{ end }}