package service

import "context"

type {{ .ServiceName }}Service interface {
{{ range .MethodNames }}
	{{ . }}(ctx context.Context) (interface{}, error)
{{ end }}
}

type {{ .ServiceNameLow }}Service struct {
}

{{ range $index, $element := .MethodNames }}
func (svc {{ $.ServiceNameLow }}Service) {{ $element }}(ctx context.Context) (interface{}, error) {
	// TODO: implement me
	return nil, nil
}
{{ end }}
