package tmpl

func make{{ .ActionName }}Endpoint(svc interface{}) endpoint.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		//req := request.({{ .ActionName }}Request)
		//result, err := svc.{{ .ActionName }}(ctx)
		//return {{ .ActionName }}Response{field: result.field}, nil

		// TODO: write service call with request and transformation result to response

		return nil, nil
	}
}
