package tmpl

import "context"

type {{ .StructName }} struct {
}


func (svc {{ .StructName }}) {{ .MethodName }}(ctx context.Context) (interface{}, error) {
	// TODO: implement me
	return nil, nil
}